.faq {
  text-align: center;
}

.accordian-bar {
  width: 30em;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  background-color: azure;
}

.image {
  width: 100%;
  height: 15em;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0%;
}

.title-bar {
  display: flex;
  margin: 0;
  justify-content: space-around;
  background-color: rgb(252, 195, 149);
  padding: 20px;
}

.content-bar {
  text-align: center;
}